$dominant: #ffffff;
$accent: #0a0438;
$primary: #00ced1;
$secondary: #00fa9a;
$tertiary: #c1f3f4;
$success: #03f003;
$error: #f00303;
$black: #000000;
$white: $dominant;
$transparent: #00000070;

// Text
$darktext: $accent;
$lighttext: $dominant;

// Social Media
$xtwitter: $black;
$twitter: #1DA1F2;
$twitterii: #55acee;
$facebook: #3b5998;
$instagram: #e1306c;
$whatsapp: #25d366;
$linkedin: #0077b5;
$linkedinii: #0a66c2;