.aboutheading {
    border-bottom: 0.0625rem solid $primary;
    padding-top: 3.125rem;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../../img/assists/gradii.jpg") fixed no-repeat center /cover;
    height: 20rem;
    color: $white;
    text-align: center;
    font-size: $base-font-size;
}

.aboutbody {
    @include card;
    @include flexcolumn;
    background-color: $dominant;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: $base-padding;

    .aboutimage {
        float: right;
        margin-left: 1rem;
    
        img { border-radius: $border-circle; width: 15rem; height: 15rem; }
    }
}